@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }
    .cabecalho__menu {
        justify-content: center;
        margin-right: 10%;
        margin-bottom: 5%;
    }
    .portfolio {
        width: 100%;
    }
    .main-content {
        flex-direction: column-reverse;
        padding: 5% !important;
        width: 100%;  
        justify-content: center; 
    }
    .portfolio__content{
        width: auto;
    }
    .quack {
        margin: 5% 0% 0% 10%;
    }
    .curriculum {
        width: 80%;
        justify-content: center;
        margin-right: 10%; 
    }
}
body {
    background: url('https://i.gifer.com/xK.gif') no-repeat center center fixed;
    background-size: cover;
    color: var(--white);
}

.cabecalho {
    font-family: var(--font-title);
    font-weight: 400;
    font-style: normal;
    color: var(--white);
    font-size: 1.25rem;
    padding: 3% 0 0 12.5%;
}
.cabecalho__menu {
    display: flex;
    gap: 5rem;
}

.cabecalho__menu a {
    text-decoration: none;
    color: var(--white);
}
.main-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3% 10% 2% 12%;
    gap: 5.12rem;
}

.portfolio__content {
    width: 58%;
    background-color: var(--bg-transparent-gray);
    padding: 1.25rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

#purple-text{
    color: var(--rosa-pink);
}

.portfolio__title {
    font-size: var(--font-size-title);
    font-family: var(--font-title);
    font-weight: 400;
    font-style: normal;
}
.portfolio__text {
    font-size: 1.5rem;
    font-family: var(--font-text);
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.portfolio__secondary__text {
    font-size: 1rem;
    font-family: var(--font-text);
    font-optical-sizing: auto;
    font-style: normal;
    text-align: justify;
    padding-right: 0.81rem;
}
.portfolio__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0 0.31rem;
 
}

.portfolio__links h2 {
    font-family: var(--font-text);
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 1.25rem;
    color: var(--rosa-pink);
}
.portfolio__links a{
    width: 48%;
    padding: 1.37rem 0;
    font-size: 1.37rem;
    font-family: var(--font-text);
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: var(--lilas);
    border: 2px solid var(--rosa-pink);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    box-sizing: content-box;
}

.portfolio__links a img {
    width: 1.87rem;
    margin-top: -0.31rem;
    box-sizing: content-box;
}

.portfolio__links a:hover {
    background-color: var(--bg-transparent-white);
    color: var(--rosa-pink);
}

.portfolio__links__github {
    padding: 0;
    box-sizing: content-box;
}

.portfolio__links__github img {
    margin-left: -1rem;
    box-sizing: content-box;
}

.pic {
    border-radius: 50%;
    width: 30%;
}

.quack {
    width: 100%;
}

.quack img {
    width: 5%;
    margin-left: 5%;
}